.main-table{
    border: 1px solid black;
}

.enemy{
    border: 1px solid red;
}


.neutral{
    border: 1px solid black;
}

.ally{
    border: 1px solid green;
}

.heroes-stand{
    border: 1px solid rgb(60, 0, 128);
}